

<h1>  Adrees </h1>
<table>
   
    <thead>
      <tr>
        <th scope="col">Country</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let add of address">
        <td data-label="Account">{{add.country}}</td>
        <td data-label="Due Date">{{add.city}}</td>
        <td data-label="Amount">{{add.state}}</td>
        <td data-label="Period">{{add.postal_Code}}</td>
        <td data-label="Period"><button type="button" name="" id="" class="btn btn-danger" (click)="deleteaddress(add.id)"> Delete</button></td>
      </tr>
 
    </tbody>
  </table>

  <br>
  <hr>

  <form [formGroup]="addaddress" (ngSubmit)="onSubmit()"> 
   
    <div class="mb-3">
        <label for="country"  class="form-label">Counrty</label>
        <input type="text"  formControlName="country"  class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
      </div>
      <div class="mb-3">
        <label for="city"  class="form-label">City</label>
        <input type="text"  formControlName="city"   class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
      </div>

    <div class="mb-3">
      <label for="state"  class="form-label"> State</label>
      <input type="text"  formControlName="state"  class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
    </div>
  
    <div class="mb-3">
        <label for="postcode"  class="form-label"> Postal Code</label>
        <input type="text"  formControlName="postcode"   class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>